@model IEnumerable<MovieDataBase.Models.Movies>

<a asp-action="Create" class="btn btn-primary mt-4">+ Add New Movie</a>
<hr class="border-secondary" />

<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var movie in Model)
    {
        <div class="col">
            <div class="card h-100 shadow-sm bg-dark border-secondary hover-reveal">

                @if (movie.Images != null && movie.Images.FirstOrDefault()!= null)
                {
                    <img src="@movie.Images.FirstOrDefault()?.FullUrl"
                                         class="d-block w-100 poster-img" />
                }
                else
                {
                    <img src="/images/no-poster.svg"
                         class="card-img-top poster-img"
                         alt="@movie.Title" />
                }

                <div class="card-body reveal-content">
                    <h5 class="card-title">
                        <a asp-action="Details" asp-route-id="@movie.Id" class="text-light" title="@movie.Title">
                            @movie.Title
                        </a>
                    </h5>
                    <p class="card-text text-secondary director-text">Directed by: @movie.Director</p>
                </div>

                <div class="card-footer reveal-content d-flex justify-content-between align-items-center bg-transparent border-secondary">
                    <div>
                        @if (movie.DateReleased.HasValue)
                        {
                            <small class="text-muted">Released: @movie.DateReleased.Value.ToString("dd-MM-yyyy")</small>
                        }
                    </div>

                    <div>
                        @{
                            var ratingDisplay = MovieDataBase.Models.EnumHelpers.GetDisplayName(movie.ContentRating);
                        }
                        @if (!string.IsNullOrWhiteSpace(ratingDisplay))
                        {
                            <span class="badge bg-secondary">@ratingDisplay</span>
                        }
                    </div>
                </div>

            </div>
        </div>
    }
</div>
